
*{
    margin: 0;
    box-sizing: border-box;
}

.container-header {
   background-color: black;
   display: flex;
   justify-content: space-around;
   padding-left: 0;
}

.logo {
    width: 10x;
    height: 10px;
}

.menu{ 
    width: 10px;
    height: 10px;
}