:root {
    font-family:"Roboto";
    font-size: 62.5%;
}


.header-menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
   
}

.menu-completo {
    display: none;
}


.logo-menu{
    width: 70px;
    height: 25px;
    padding: 5px 10px;

}

.icon-menu{
    width: 30px;
    height: 30px;
    padding: 5px 20px;
}


.first-bluesection{

background-color: dodgerblue;
color: white;
margin-bottom: 2rem;

}

h1 {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    text-align: left;
    font-size: 4rem;
}

.p-titulo {
    text-align: left;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    line-height: 25px;

    
}

button {
border-radius: 20px;
width: 90%;
height: 2.5rem;
margin: 5px 10px;
background-color: lightgreen;
color:white;
}

.p-secundaria {
          text-align: left;
            font-size: 0.7rem;
            padding-left: 1rem;
            padding-right: 3rem;
            padding-top: 10px;
            padding-bottom: 2rem;
          
}

.second-section{
   
    background-color: white;
    align-items: center;
    padding-bottom: 4rem;
    
}

h2{
text-align: center;
font-size: 3rem;
padding: 10px 10px;
    
}

.imagenes-beneficio {
    width: 70px;
    height: 70px;
    
}

.div-second{
  
    padding: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: 70px;

}

.div-second p{
text-align: left;
width: 50%;
padding-left: 5px;
line-height: 10px;

}
.strong {
    font-weight: bold;
}

.my-footer {
    background: black;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
        
}
.legal {
  justify-content: flex-start;
  margin : 20px;
  list-style: none;
  
}

@media (min-width: 800px) {
    .menu-completo {
        display: flex;
        color: white;
        justify-content: space-evenly;
    
    }
.icon-menu {
    display: none;

}
li {
    padding: 5px;
    list-style: none;
    
}
.first-bluesection {
    background-image: url(./images/premium_dancer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80%;
}
.second-section {
    flex-direction: row;

}
}





