:root {
    font-family:"Roboto";

    font-size: 62.5%;
}


.header-menu{
  
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
   
}

.menu-completo {
    display: none;
}


.logo-menu{
    width: 30px;
    height: 30px;
    padding: 2px;

}

.icon-menu{
    width: 10%;
    height: 50%;
    padding: 2px;
}


.first-bluesection{
height: 50%;
background-color: dodgerblue;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
color: white;
padding: 10px;

}

h1 {
    padding-top: 15%;
    text-align: left;
    font-size: 32px;
}

p {
    text-align: left;
    
}

button {
border-radius: 20px;
width: 90%;

background-color: lightgreen;

}

.second-section{
    background-color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

h2{
text-align: center;
font-size: 30px;
padding: 0 10px;
    
}

.imagenes-beneficio {
    width: 70px;
    height: 70px;
    
}

.div-second{
    width: 90%;
    padding: 20px;
    margin: 0px;
    display: flex;
    

}

.strong {
    font-weight: bold;
}

.my-footer {
    background: black;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
        
}
.legal {
  justify-content: flex-start;
  margin : 20px;
  list-style: none;
  
}

@media (min-width: 800px) {
    .menu-completo {
        display: flex;
        color: white;
        justify-content: space-evenly;
    
    }
.icon-menu {
    display: none;

}
li {
    padding: 5px;
    list-style: none;
    
}
.first-bluesection {
    background-image: url(./images/premium_dancer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80%;
}
.second-section {
    flex-direction: row;

}
}





